mixin cardService(image,hour,price,description)
  .c-card-service&attributes(attributes)
    .c-card-service__image
      img(src= image, alt="")
      .c-card-service__badge
        span.hide-on-med-and-down= hour  + ' horas ahorrada'
        span.c-card-service__price.hide-on-large-only= price
    p.c-card-service__description= description
      span.c-card-service__price.hide-on-med-and-down= price
      span.hide-on-large-only= hour  + ' horas ahorrada'
