mixin formInput(type,id, placeholder, arraySelect)
  .input-field&attributes(attributes)
    if (type == 'password')
      input(type= type class="validate" id= id)
      label(for= id)= placeholder
      if block
        block
    else if (type == 'checkbox')
      label
        input(type="checkbox")
        span= placeholder
    else if (type == 'textarea')
      textarea(id = id).materialize-textarea
      label(for= id)= placeholder
    else if (type == 'datetime')
      ul.c-input-datetime
        li
          i.material-icons.icon-clock
        li
          input(type="text" id='dateInput' + placeholder).datepicker
          label(for='dateInput' + placeholder) fecha de #{placeholder}
        li
          input(type="text" id='timeInput' + placeholder).timepicker
          label(for='timeInput' + placeholder) hora de #{placeholder}
    else if (type == 'select')
      select
        option(value="0" disabled selected)= placeholder
        each option in arraySelect
          option(value= option)= option
    else if (type == 'target')
      ul.c-input-target
        li
          input(type="text", id='dateInputVencimiento').datepicker
          label(for='dateInputVencimiento') fecha de vencimiento
        li
          input(type="number", id='InputNumberSecurity')
          label(for='InputNumberSecurity') Código de seguridad
    else
      input(type= type class="validate" id= id)
      label(for= id)= placeholder
