mixin itinerary(price, list,numbers)
  ul.c-itinerary(class= numbers)
    span.c-itinerary__price= price
    each item,index in list
      li
        if numbers
          i= index + 1
        span= item.title
        span= item.date
        span= item.address
